// Custom.scss
// Option A: Include all of Bootstrap

$theme-colors: (
  "primary": #FC5D60,
  "secondary": #383A8E
);

$border-radius: 0.5rem;
$border-radius-lg: 0.6rem;
$border-radius-sm: 0.4rem;

@import "../bootstrap/scss/bootstrap";

.text-primary {
  color: theme-color("primary");
}

.navbar-solid {
  opacity: 1;
  background: #FFFFFFFF !important;
  transition: background-color 0.5s ease 0s;
  box-shadow: 0 0 4px #00000060;
}

.navbar-transparent {
  opacity: 0;
  background: #FFFFFF00 !important;
  transition: background-color 0.5s ease 0s;
  box-shadow: 0 0 4px #00000060;
}

.transition-3d-hover {
  transition: all 0.2s ease-in-out;
}

.transition-3d-hover:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 4px 11px rgba(30, 32, 34, 0.35);
}

.icon-features {
  float:right;
  font-size: $font-size-base * 2;
  color: theme-color("primary");
}